---
version: 1
interactions:
- request:
    body: '{"name":"k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","location":"westus","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"k8sinfratest-rg-nofdhz","location":"westus","tags":{"CreatedAt":"2020-11-02T03:32:38Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'', ''k8sinfratest-rg-nofdhz'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","name":"k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"11403577445741334352","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2020-11-02T03:32:41.6713162Z","duration":"PT3.4811375S","correlationId":"a931ddc5-219a-45a5-bbbf-05ad17f1c8d5","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21/operationStatuses/08585973189272874258?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","name":"k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"11403577445741334352","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Running","timestamp":"2020-11-02T03:32:42.6218002Z","duration":"PT4.4316215S","correlationId":"a931ddc5-219a-45a5-bbbf-05ad17f1c8d5","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","name":"k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"11403577445741334352","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Succeeded","timestamp":"2020-11-02T03:32:47.6177563Z","duration":"PT9.4275776S","correlationId":"a931ddc5-219a-45a5-bbbf-05ad17f1c8d5","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/resourceGroups/k8sinfratest-rg-nofdhz"}},"outputResources":[{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz","name":"k8sinfratest-rg-nofdhz","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2020-11-02T03:32:38Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/providers/Microsoft.Resources/deployments/k8s_edbd50cc-9f7b-59b6-a285-e7d084735f21?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RkVEQkQ1MENDOjJEOUY3QjoyRDU5QjY6MkRBMjg1OjJERTdEMDg0NzM1RjIxLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14999"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-ofvsju?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-ofvsju","name":"k8sinfratest-rg-ofvsju","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2020-11-02T03:32:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "14"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-ofvsju?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''k8sinfratest-rg-ofvsju'' could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"k8s_2cdd3d08-69b8-5f22-9f80-8bbf838d2c60","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2019-04-01","kind":"BlobStorage","location":"westus","name":"k8sinfrateststorxpkgda","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"type":"Microsoft.Storage/storageAccounts"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Storage/storageAccounts'', ''k8sinfrateststorxpkgda'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourcegroups/k8sinfratest-rg-nofdhz/providers/Microsoft.Resources/deployments/k8s_2cdd3d08-6[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz/providers/Microsoft.Resources/deployments/k8s_2cdd3d08-69b8-5f22-9f80-8bbf838d2c60?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz/providers/Microsoft.Resources/deployments/k8s_2cdd3d08-69b8-5f22-9f80-8bbf838d2c60","name":"k8s_2cdd3d08-69b8-5f22-9f80-8bbf838d2c60","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14299508399059866827","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2020-11-02T03:34:05.5120232Z","duration":"PT2.3426495S","correlationId":"e77c8b3d-5f8d-4fb8-b847-32b8fd741e99","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz/providers/Microsoft.Storage/storageAccounts/k8sinfrateststorxpkgda?api-version=2019-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/82acd5bb-4206-47d4-9c12-a65db028483d/resourceGroups/k8sinfratest-rg-nofdhz/providers/Microsoft.Storage/storageAccounts/k8sinfrateststorxpkgda","name":"k8sinfrateststorxpkgda","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-11-02T03:34:16.2359515Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-11-02T03:34:16.2359515Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-11-02T03:34:16.1734284Z","primaryEndpoints":{"dfs":"https://k8sinfrateststorxpkgda.dfs.core.windows.net/","blob":"https://k8sinfrateststorxpkgda.blob.core.windows.net/","table":"https://k8sinfrateststorxpkgda.table.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
